@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700');

*, *:not(.map) * {
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
}

.section {
  background-color: #00b4ae !important;
  background-image: url("../resource/isf-BG-1920x1080.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.map, .map * {
  top: auto;
  bottom: auto;
  margin: auto;
  padding: auto;
}

header {
  position: absolute;
  width: 100%;
  left: -1%;
}

.btn {
  width: 25vh;
  height: 6vh;
  font-size: 2.5vh;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
}

.btn:hover {
  background-color: white;
  color: #00b4ae;
  border: 2px solid transparent;
}

footer {
  position: absolute;
  width: 100%;
  top: 88% !important;
  left: 1% !important;
}

.text {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  top: 10%;
  margin-left: 11.5%;
}

.googleForm {
  margin: auto;
  width: 65vw;
  height: 70vh;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.googleForm iframe {
  width: 100%;
  height: 100%;
}

.map {
  height: 50vh;
  width: 100vw;
}

.text_big {
  font-weight: 700;
  font-size: 400%;
  font-size: 9vw;
  line-height: 90%;
}

.text_small {
  font-weight: 300;
  font-size: 200%;
  font-size: 3.8vw;
}

.form-style-8 {
    font-family: 'Open Sans Condensed', arial, sans;
    width: 45vh;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-style-8 h2 {
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 1.5vh Arial, Helvetica, sans-serif;
    height: 45px;
}

.form-style-8 textarea {
    resize: none;
    height: 30vh;
    overflow: hidden;
}

.form-style-8 button,
.form-style-8 button {
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #e93457;
    background-color: #e63457;
    border: 1px solid #f94457;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5vh;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.form-style-8 a {
  font-size: 1.5vh;
}

.form-style-8 button:hover,
.form-style-8 button:hover {
    background:linear-gradient(to bottom, #f94457 5%, #f94457 100%);
    background-color:#f94457;
}

.form-style-8 a img {
    width: 30%;
}

/* Portrait */
@media screen and (orientation:portrait) {
  header {
    left: -12% !important;
  }

  header > .contact-btn {
    display: none;
  }

  header > img {
    margin-top: 10% !important;
    width: 85%;
  }

  footer {
    top: 80% !important;
    left: 5% !important;
  }

  footer > img {
    width: 55%;
    float: right;
  }

  footer > .contact-btn {
    width: 90%;
    height: 8vh;
    font-size: 3vh;
    margin-top: 10% !important;
    border: 4px solid white;
    border-radius: 15px;
  }

  .text_big {
    font-weight: 700;
    font-size: 400%;
    font-size: 14.5vw;
    line-height: 90%;
  }

  .text_small {
    font-weight: 300;
    font-size: 200%;
    font-size: 6.2vw;
  }
}

/* Landscape */
@media screen and (orientation:landscape) {
   header > .contact-btn {
     float: right;
     margin-top: 6% !important;
     margin-right: 10% !important;
   }

   header > img {
    margin-top: 5% !important;
    width: 40%;
  }

  footer > img {
    width: 20%;
    float: right;
  }

  footer > .contact-btn {
    display: none;
  }

  .form-style-8 {
    width: 90vh;
  }

  .form-style-8 a{
    font-size: 2.5vh;
  }

  .form-style-8 button,
  .form-style-8 button{
    font-size: 2.5vh;
  }

  .form-style-8 input[type="text"],
  .form-style-8 input[type="message"],
  .form-style-8 input[type="date"],
  .form-style-8 input[type="datetime"],
  .form-style-8 input[type="email"],
  .form-style-8 input[type="number"],
  .form-style-8 input[type="search"],
  .form-style-8 input[type="time"],
  .form-style-8 input[type="url"],
  .form-style-8 input[type="password"],
  .form-style-8 textarea,
  .form-style-8 select {
    font-size: 2.2vh;
  }

  .form-style-8 textarea {
      height: 20vh;
  }
}
